:root {
    --white: #ffffff;
    --blue: #1d3557;
    --red: #96121d;
  }

a {
    color: var(--red) !important;
}

body {
    background-color: var(--background);
}

input[type=submit]:hover{
    cursor:pointer;
}

p, label, input, select, option, td {
    color: var(--blue);
}

h1 {
    color: var(--blue);
}

h3 {
    color: var(--white);
}

th {
    color: var(--red);
}



#skater_card_stats_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#skater_details_table {
    border: 1px;
    border-color: var(--blue);
    border-style: solid;
    width: 100%;
    text-align: center;
}

#skater_stats_container_all {
    max-width:400px;
}

#player_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.above_avg {
    background-color: var(--blue);
    color: var(--white) !important;
}

.below_avg {
    background-color: var(--red);
    color: var(--white) !important;
}

$color: #0cf;

.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

/* optional reset for presentation */
* {
  font-family: Arial;
  text-decoration: none;
  font-size: 20px;
}
.container {
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: .8rem;
  margin-bottom: 2rem;
  color: #777;
}
span {
  display: block;
  margin-top: 2rem;
  font-size: .7rem;
  color: #777;
  a {
    font-size: .7rem;
    color: #999;
    text-decoration: underline;
  }
}

.dataTables_info{
    color: var(--blue) !important;
}

.h3_neutral {
    color: var(--blue);
}

.form_link {
    background: transparent;
    border: 0;
    color: var(--red);
    text-decoration:underline;
}

.hidden {
    display: none;
}

.player_card_white {
    color: var(--white);
}

.player_container {
    border: 4px solid var(--blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
}

.skater_card{
    padding: 20px;
    min-width: 150px;
}

.skater_card_positive {
    background-color: var(--blue);
}

.skater_card_negative {
    background-color: var(--red);
}

.skater_card_neutral {
    background-color: white;
}