:root {
    --midnight_blue: #050d21;
    --light_gray: #f0f0f0;
    --red: #a60037;
    --light_blue: #479af7;
    --yellow: #f9d548;
    --pink: #eb4795;
    --teal: #6eeffc;
  }

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: var(--midnight_blue);
    font-family: 'Lato', sans-serif;
  }

input[type=submit]:hover{
    cursor:pointer;
}

p, td {
    color: var(--light_gray);
}

label, input, select, option{
    color: var(--light_gray);
}

h1 {
    color: var(--light_gray);
    margin: 0;
}

h3 {
    color: var(--light_gray);
    margin: 0px;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

th, .team_table_label {
    color: var(--light_blue);
}



#skater_card_stats_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

#skater_details_table {
    border: 1px;
    border-color: var(--blue);
    border-style: solid;
    width: 100%;
    text-align: center;
}

#skater_stats_container_all {
    max-width:400px;
}

#player_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#teams_container_all {
    display: flex;
    flex-direction:row;

}

.above_avg {
    background-color: var(--light_blue);
    color: var(--midnight_blue) !important;
}

.below_avg {
    background-color: var(--red);
    color: var(--light_gray) !important;
}

/* Button Animation */
.button_slide {
    color: #FFF;
    border: 2px solid rgb(216, 2, 134);
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #D80286;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
  }

  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #D80286;
    color: yellow;
  }
/* End Button Animation */

.dataTables_info{
    color: var(--blue) !important;
}

.h3_neutral {
    color: var(--light_gray);
}

.form_link {
    background: transparent;
    border: 0;
    color: var(--light_blue);
    text-decoration:underline;
    font-size: 15px;
}

.hidden {
    display: none;
}

.icon_cell {
    text-align: center;
}

.player_card_white {
    color: var(--white);
}

.player_container {
    border: 4px solid var(--blue);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-items: center;
}

.player_container, .team_container {
    padding-top: 15px;
}

.player_p {
    font-size: 24px;
    text-align: center;
}

.skater_card{
    width: 140px;
    height: 140px;
    padding: 5px;
}

.skater_card_icon{
    width: fit-content;
}

.skater_card_positive {
    background-color: var(--light_blue);
}

.skater_card_negative {
    background-color: var(--red);
}

.skater_team_header{
    font-style: italic;
}

.player_card_p_negative {
    color: var(--light_gray)
}

.skater_card_neutral {
    background-color: var(--midnight_blue);
}

.team_container {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding-top: 35px;
    justify-content: center;
}

.team_logo_container {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.team_table_label{
    font-weight: bold;
    text-align: end;
}