<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyHL - "We are sometimes close?"</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/data_table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;700&family=Karla:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption&display=swap" rel="stylesheet">
</head>
<body>

    <ul>
        <li><a href="{{ url_for('index') }}" class="form_link">Home</a></li>
        <li><a href="{{ url_for('skaters') }}" class="form_link" id="skater_menu">Skaters</a></li>
        <li><a href="{{ url_for('goalies') }}" class="form_link">Goalies</a></li>
        <li><a href="{{ url_for('compare_teams') }}" class="form_link">Teams</a></li>
    </ul>
    
    <main>
        {% block content %} {% endblock %}
    </main>
</body>


</html>