<div id="team_selection_form">
    <div class="team_form_item">
        <input type="checkbox" id="all_teams_checkbox" onClick="toggle_all(this)" />
        <label for="all_teams">Select All</label>

        <input type="checkbox" id="playing_today_checkbox" onClick="check_teams_today(this)" />
        <label for="teams_today">Playing Today</label>
    </div>
    <br /><br /><br />
    {% for _,team in teams_all.iterrows() %}
    <div class="team_form_item">
        <input type="checkbox" id="{{team['id']}}" name="team" value="{{team['id']}}">
        <label for="team"> {{team['name']}}</label>
    </div>
    {% endfor %}
    <br />
</div>
<input class="button_slide slide_right" type="submit" value="Go!">