<table id="player_details_table">
    <tr>
        <th>GP</th>
        <th>Games Started</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Ties</th>
        <th>OT</th>
        <th>SO</th>
        <th>Save%</th>
        <th>GAA</th>
        <th>FPPG</th>
    </tr>
    <tr>
        <td class="stat_cell">{{player['games']}}</td>
        <td class="stat_cell">{{player['gamesstarted']}}</td>
        <td class="stat_cell">{{player['wins']}}</td>
        <td class="stat_cell">{{player['losses']}}</td>
        <td class="stat_cell">{{player['ties']}}</td>
        <td class="stat_cell">{{player['ot']}}</td>
        <td class="stat_cell">{{player['shutouts']}}</td>
        <td class="stat_cell">{{player['savepercentage']}}</td>
        <td class="stat_cell">{{player['goalagainstaverage']}}</td>
        <td class="stat_cell">{{player['FPPG']}}</td>
    </tr>
</table>