{% extends 'base.html' %}

{% block content %}
    <h1>Goalies</h1>
    <form action="{{ url_for('goalies') }}" method="post">
        {% include 'element_team_selection_form.html' %}
    </form>

    <script language="JavaScript">
        var teamIdsAll = JSON.parse('{{ team_ids_all | safe }}');
        function toggle_all(source) {
            var allTeamsCheckbox = document.getElementById("all_teams_checkbox");
            if (allTeamsCheckbox.checked) {
                teamIdsAll.forEach(function(value) {
                var checkbox = document.getElementById(value);
                if (checkbox) {
                    checkbox.checked = true;
                }
                });
            } else {
                teamIdsAll.forEach(function(value) {
                var checkbox = document.getElementById(value);
                if (checkbox) {
                    checkbox.checked = false;
                }
                });
            }
        }
        var teamsPlayingToday = JSON.parse('{{ team_ids_playing_today | safe }}');
        function check_teams_today(source) {
            var playingTodayCheckbox = document.getElementById("playing_today_checkbox");
            if (playingTodayCheckbox.checked) {
                teamsPlayingToday.forEach(function(value) {
                var checkbox = document.getElementById(value);
                if (checkbox) {
                    checkbox.checked = true;
                }
                });
            } else {
                teamsPlayingToday.forEach(function(value) {
                var checkbox = document.getElementById(value);
                if (checkbox) {
                    checkbox.checked = false;
                }
                });
            }
        }
    </script> 
    {% include 'template_goalie_table.html' %}
{% endblock %}