{% extends 'base.html' %}

{% block content %}
<h1>The Gretzky Report</h1>

<p>The Gretzky Report is a comprehensive platform designed for hockey enthusiasts and fantasy sports enthusiasts alike. It harnesses the power of NHL data to provide users with a seamless experience of comparing player and team statistics, helping them make informed decisions for fantasy sports leagues. The app also offers estimated fantasy points for players, enhancing the fantasy sports experience by providing valuable insights. With its user-friendly interface, users can easily conduct side-by-side comparisons of teams, enabling them to analyze strengths, weaknesses, and trends. Moreover, our platform ensures that all data is updated daily, keeping users well-informed with the latest developments in the NHL. Whether you're a dedicated fantasy sports player or simply a fan of the game, our web app is your go-to resource for staying on top of the NHL's dynamic landscape.</p>
{% endblock %}