{% extends 'base.html' %}

{% block content %}
<main>

    <div id="player_detail_container">
    
        {% for _, skater in skater.iterrows() %}
                <h1>{{skater['playername']}}</h1>
                <h3 class="skater_team_header">{{skater['currentteam']}}</h3>
                <h3 class="skater_team_header">{{skater['position']}}</h3>
            <table id="skater_details_table">
                <tr>
                    <th>Games</th>
                    <th>Goals</th>
                    <th>Assists</th>
                    <th>Points</th>
                    <th>+ / -</th>
                    <th>PIM</th>
                    <th>GPG</th>
                    <th>APG</th>
                    <th>SPG</th>
                    <th>FPPG</th>
                    <th>TOI</th>
                    <th>PP TOI</th>
                </tr>
                <tr>
                    <td class="stat_cell">{{skater['games']}}</td>
                    <td class="stat_cell">{{skater['goals']}}</td>
                    <td class="stat_cell">{{skater['assists']}}</td>
                    <td class="stat_cell">{{skater['points']}}</td>
                    <td class="stat_cell">{{skater['plusminus']}}</td>
                    <td class="stat_cell">{{skater['pim']}}</td>
                    <td class="stat_cell">{{skater['GPG']}}</td>
                    <td class="stat_cell">{{skater['APG']}}</td>
                    <td class="stat_cell">{{skater['SPG']}}</td>
                    <td class="stat_cell">{{skater['FPPG']}}</td>
                    <td class="stat_cell">{{skater['timeonicepergame']}}</td>
                    <td class="stat_cell">{{skater['powerPlayTimeOnIcePerGame']}}</td>
                </tr>
            </table>
        {% endfor %}
    </div>


</main>
{% endblock %}