<table id="skaters" class="display">
    <thead>
        <tr>
        {% for header in headers %}
            <th>{{header}}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for _, skater in skaters.iterrows() %}
            <tr>
                <td class="non_stat_cell">
                    <form target="_blank" action="{{ url_for('skater_card') }}" method="post">
                        <input class="hidden" type="checkbox" id="{{skater['id']}}" name="skater_id" value="{{skater['id']}}" checked>
                        <input class="form_link" type="submit" value="{{skater['playername']}}">
                        {{skater['id']}}
                    </form>
                </td>




                <td class="non_stat_cell">{{skater['currentteam']}}</td>

                {% if skater['position'] == "Defenseman" %}
                    <td class="non_stat_cell">
                        <img src="{{ url_for('static', filename='img/shield.gif') }}">
                    </td>
                {% elif skater['position'] == "Right Wing" %}
                <td class="non_stat_cell">
                    <img src="{{ url_for('static', filename='img/wing-r.gif') }}">
                </td>
                {% elif skater['position'] == "Left Wing" %}
                <td class="non_stat_cell">
                    <img src="{{ url_for('static', filename='img/wing-l.gif') }}">
                </td>                   
                {% else %}
                <td class="non_stat_cell">
                    <img src="{{ url_for('static', filename='img/sticks.gif') }}">
                </td>
                {% endif %}

                <!-- <td>{{skater['position']}} <br/>
                    <img src="{{ url_for('static', filename='img/shield.gif') }}"
                </td> -->
                <!-- <td>{{skater['goals']}}</td> -->

                {% if skater['GPGDIF'] > 0.0  %}
                    <td class="above_avg">{{skater['GPG']}} ({{skater['GPGDIF']}})</td>
                {% elif skater['GPGDIF'] < 0.0 %}
                    <td class="below_avg">{{skater['GPG']}} ({{skater['GPGDIF']}})</td>
                {% else %}
                    <td class="avg">{{skater['GPG']}} ({{skater['GPGDIF']}})</td>
                {% endif %}

                {% if skater['APGDIF'] > 0.0  %}
                    <td class="above_avg">{{skater['APG']}} ({{skater['APGDIF']}})</td>
                {% elif skater['APGDIF'] < 0.0 %}
                    <td class="below_avg">{{skater['APG']}} ({{skater['APGDIF']}})</td>
                {% else %}
                    <td class="avg">{{skater['APG']}} ({{skater['APGDIF']}})</td>
                {% endif %}

                {% if skater['SPGDIF'] > 0.0  %}
                    <td class="above_avg">{{skater['SPG']}} ({{skater['SPGDIF']}})</td>
                {% elif skater['SPGDIF'] < 0.0 %}
                    <td class="below_avg">{{skater['SPG']}} ({{skater['SPGDIF']}})</td>
                {% else %}
                    <td class="avg">{{skater['SPG']}} ({{skater['SPGDIF']}})</td>
                {% endif %}

                <!-- <td>{{skater['games']}}</td> -->

                {% if skater['PPGDIF'] > 0.0  %}
                    <td class="above_avg">{{skater['PPG']}} ({{skater['PPGDIF']}})</td>
                {% elif skater['PPGDIF'] < 0.0 %}
                    <td class="below_avg">{{skater['PPG']}} ({{skater['PPGDIF']}})</td>
                {% else %}
                    <td class="avg">{{skater['PPG']}} ({{skater['PPGDIF']}})</td>
                {% endif %}

                <td class="non_stat_cell">{{skater['timeonicepergame']}}</td>
            </tr>
        {% endfor %}
    </tbody>
 
</table>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
        $('#skaters').DataTable();
    } );
</script>