<table id="player_details_table">
    <tr>
        <th>GP</th>
        <th>G</th>
        <th>A</th>
        <th>P</th>
        <th>S</th>
        <th>+/-</th>
        <th>PIM</th>
        <th>HITS</th>
        <th>GPG</th>
        <th>APG</th>
        <th>SPG</th>
        <th>PP TOI</th>
        <th>TOI</th>
        <th>FPPG</th>
    </tr>
    <tr>
        <td class="stat_cell">{{player['games']}}</td>
        <td class="stat_cell">{{player['goals']}}</td>
        <td class="stat_cell">{{player['assists']}}</td>
        <td class="stat_cell">{{player['points']}}</td>
        <td class="stat_cell">{{player['shots']}}</td>
        <td class="stat_cell">{{player['plusminus']}}</td>
        <td class="stat_cell">{{player['pim']}}</td>
        <td class="stat_cell">{{player['hits']}}</td>
        <td class="stat_cell">{{player['GPG']}}</td>
        <td class="stat_cell">{{player['APG']}}</td>
        <td class="stat_cell">{{player['SPG']}}</td>
        <td class="stat_cell">{{player['powerPlayTimeOnIcePerGame']}}</td>
        <td class="stat_cell">{{player['timeonicepergame']}}</td>
        <td class="stat_cell">{{player['FPPG']}}</td>
    </tr>
</table>