{% extends 'base.html' %}

{% block content %}
    <h1>Skaters</h1>
    
    <h2>Quick Reports</h2>
        <form class="quick_report_form" action="{{ url_for('skaters') }}" method="post">
            <input class="form_link quick_report_link" name="quick_report" type="submit" value="Skaters Today">
            <p>Fetches all skaters that are playing a regular season game today.</p>
        </form>

    <form action="{{ url_for('skaters') }}" method="post">
        <div id="team_selection_form">
            <div class="team_form_item">
                <input type="checkbox" onClick="toggle(this)" />
                <label for="team">Select All</label>
            </div>
            <br />
            {% for _,team in teams_all.iterrows() %}
            <div class="team_form_item">
                <input type="checkbox" id="{{team['id']}}" name="team" value="{{team['id']}}">
                <label for="team"> {{team['name']}}</label>
            </div>
            {% endfor %}
            <br />
        </div>
        <input class="button_slide slide_right" type="submit" value="Go!">
    </form>

    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByName('team');
            for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
            }
        }
    </script>

    {% include 'template_skater_table.html' %}
{% endblock %}