{% extends 'base.html' %}

{% block content %}
<main>

    <div id="player_detail_container">
    
        {% for _, skater in skater.iterrows() %}
            <section id="player_info">
                <h1 class="super_bold" id="player_number">{{skater['jerseynumber']}}</h1>
                <section id="player_details">
                    <h1>{{skater['playername']}}</h1>
                    <h3 class="skater_team_header">{{skater['currentteam']}}</h3>
                    <h3 class="skater_team_header">{{skater['position']}}</h3>
                </section>
            </section>
            <table id="skater_details_table">
                <tr>
                    <th>GP</th>
                    <th>G</th>
                    <th>A</th>
                    <th>P</th>
                    <th>S</th>
                    <th>+/-</th>
                    <th>PIM</th>
                    <th>HITS</th>
                    <th>GPG</th>
                    <th>APG</th>
                    <th>SPG</th>
                    <th>PP TOI</th>
                    <th>TOI</th>
                    <th>FPPG</th>
                </tr>
                <tr>
                    <td class="stat_cell">{{skater['games']}}</td>
                    <td class="stat_cell">{{skater['goals']}}</td>
                    <td class="stat_cell">{{skater['assists']}}</td>
                    <td class="stat_cell">{{skater['points']}}</td>
                    <td class="stat_cell">{{skater['shots']}}</td>
                    <td class="stat_cell">{{skater['plusminus']}}</td>
                    <td class="stat_cell">{{skater['pim']}}</td>
                    <td class="stat_cell">{{skater['hits']}}</td>
                    <td class="stat_cell">{{skater['GPG']}}</td>
                    <td class="stat_cell">{{skater['APG']}}</td>
                    <td class="stat_cell">{{skater['SPG']}}</td>
                    <td class="stat_cell">{{skater['powerPlayTimeOnIcePerGame']}}</td>
                    <td class="stat_cell">{{skater['timeonicepergame']}}</td>
                    <td class="stat_cell">{{skater['FPPG']}}</td>
                </tr>
            </table>
        {% endfor %}
    </div>


</main>
{% endblock %}