{% extends 'base.html' %}

{% block content %}
<section id="team_comparison_container">
    <form id="team_selection_form" action="{{ url_for('compare_teams') }}" method="post">
        <div class="team_form_item">
            <input type="checkbox" onClick="toggle(this)" />
            <label for="team">Select All</label>
        </div>
        <br />
        {% for _,team in teams_all.iterrows() %}
        <div class="team_form_item">
            <input type="checkbox" id="{{team['id']}}" name="team" value="{{team['id']}}">
            <label for="team"> {{team['name']}}</label>
        </div>
        {% endfor %}
        <br />
        <input class="button_slide slide_right" type="submit" value="Go!">
    </form>

    <script language="JavaScript">
        function toggle(source) {
            checkboxes = document.getElementsByName('team');
            for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
            }
        }
    </script>
    <div class="teams_container_all">
        {% include 'template_team_card.html' %}
    </div>
</section>
{% endblock %}
