<div class="team_container">

    {% for _, team in team.iterrows() %}
    <section id="player_header">
        <h1>{{team['name']}}</h1>
        <h3 class="skater_team_header">{{team['division']}}</h3>
        <h3 class="skater_team_header">{{team['gamesplayed']}} Games Played</h3>
    </section>
    <img class="skater_card_icon" src="{{ url_for('static', filename='img/' + team['id']|string + '.png') }}">


    <table id="team_details_table">
        <tr>
            <td class="team_table_label">Wins</td><td>{{team['wins']}} (Rank - {{team['wins_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">Losses</td><td>{{team['losses']}} (Rank - {{team['losses_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">OTs</td><td>{{team['ot']}} (Rank - {{team['ot_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PTS</td><td>{{team['pts']}} (Rank - {{team['pts_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">Goals/Game</td><td>{{team['goalspergame']}} (Rank - {{team['goalspergame_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">Goals Against/Game</td><td>{{team['goalsagainstpergame']}} (Rank - {{team['goalsagainstpergame_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PP %</td><td>{{team['powerplaypercentage']}} (Rank - {{team['powerplaypercentage_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PP Goals</td><td>{{team['powerplaygoals']}} (Rank - {{team['powerplaygoals_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PP Goals Against</td><td>{{team['powerplaygoalsagainst']}} (Rank - {{team['powerplaygoalsagainst_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PP Opportunities</td><td>{{team['powerplayopportunities']}} (Rank - {{team['powerplayopportunities_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">PK %</td><td>{{team['penaltykillpercentage']}} (Rank - {{team['penaltykillpercentage_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">Shots/Game</td><td>{{team['shotspergame']}} (Rank - {{team['shotspergame_r']}})</td>
        </tr>
        <tr>
            <td class="team_table_label">Shots Allowed</td><td>{{team['shotsallowed']}} (Rank - {{team['shotsallowed_r']}})</td>
        </tr>
        <tr>
            <td  class="team_table_label">Faceoff Win %</td><td>{{team['faceoffwinpercentage']}} (Rank - {{team['faceoffwinpercentage_r']}})</td>
        </tr

    </table>
    {% endfor %}
</div>