<div class="player_container">
    <section id="player_header">
    {% for _, skater in skater.iterrows() %}
        <h1>{{skater['playername']}}</h1>
        <h3 class="skater_team_header">{{skater['currentteam']}}</h3>
        <h3 class="skater_team_header">{{skater['position']}}</h3>

        {% if skater['position'] == "Defenseman" %}
            <img class="skater_card_icon"" src="{{ url_for('static', filename='img/white-shield.png') }}">
        {% elif skater['position'] == "Right Wing" %}
            <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-wing-r.png') }}">
        {% elif skater['position'] == "Left Wing" %}
            <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-wing-l.png') }}">                
        {% else %}
            <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-sticks.png') }}">
        {% endif %}
    </section>
    <section id="skater_stats_container_all">
        <section id ="skater_card_stats_container">

            <!-- GPG -->
            {% if skater['GPGDIF'] > 0 %}
                <section class="skater_card_positive skater_card">
                    <h3>GPG</h3>
                    <p class="player_card_white player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                </section>
            {% elif skater['GPGDIF'] < 0 %}
                <section class="skater_card_negative skater_card">
                    <h3>GPG</h3>
                    <p class="player_card_p_negative player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                </section>
            {% else %}
                <section class="skater_card_neutral skater_card">
                    <h3 class="h3_neutral">GPG</h3>
                    <p class="player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                </section>
            {% endif %}

            <!-- APG -->
            {% if skater['APGDIF'] > 0 %}
                <section class="skater_card_positive skater_card">
                    <h3>APG</h3>
                    <p class="player_card_white player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                </section> 
            {% elif skater['APGDIF'] < 0 %}
                <section class="skater_card_negative skater_card">
                    <h3>APG</h3>
                    <p class="player_card_p_negative player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                </section> 
            {% else %}
                <section class="skater_card_neutral skater_card">
                    <h3 class="h3_neutral">APG</h3>
                    <p class="player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                </section> 
            {% endif %}
            
            <!-- SPG -->
            {% if skater['SPGDIF'] > 0 %}
                <section class="skater_card_positive skater_card">
                    <h3>SPG</h3>
                    <p class="player_card_white player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                </section>
            {% elif skater['SPGDIF'] < 0 %}
                <section class="skater_card_negative skater_card">
                    <h3>SPG</h3>
                    <p class="player_card_p_negative player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                </section>
            {% else %}
                <section class="skater_card_neutral skater_card">
                    <h3 class="h3_neutral">SPG</h3>
                    <p class="player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                </section>
            {% endif %}

            <!-- PPG -->
            {% if skater['PPGDIF'] > 0 %}
                <section class="skater_card_positive skater_card">
                    <h3>PPG</h3>
                    <p class="player_card_white player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                </section>
            {% elif skater['PPGDIF'] < 0 %}
                <section class="skater_card_negative skater_card">
                    <h3>PPG</h3>
                    <p class="player_card_p_negative player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                </section>
            {% else %}
                <section class="skater_card_neutral skater_card">
                    <h3 class="h3_neutral">PPG</h3>
                    <p class="player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                </section>
            {% endif %}
        </section>
        <section id="skater_card_stats_detailed">
            <table id="skater_details_table">
                <thead>
                    <tr>
                        <th>Goals</th>
                        <th>Assists</th>
                        <th>Shots</th>
                        <th>GP</th>
                        <th>Pts</th>
                        <th>Time/Game</th>
                    </tr>
                </thead>
                <tr>
                    <td>{{skater['goals']}}</td>
                    <td>{{skater['assists']}}</td>
                    <td>{{skater['shots']}}</td>
                    <td>{{skater['games']}}</td>
                    <td>{{skater['points']}}</td>
                    <td>{{skater['timeonicepergame']}}</td>
                </tr>

            </table>

        </section>
    </section>

    {% endfor %}
</div>