{% if skaters is not defined %}

{% else %}
    <table id="skaters" class="display">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>PP Unit</th>
                <th>Status</th>
                <th>Team</th>
                <th>Position</th>
                <th>Goals</th>
                <th>Assists</th>
                <th>Shots</th>
                <th>Blocks</th>
                <th>Points</th>
                <th>+ / -</th>
                <th>TOI</th>
                <th>Fantasy Avg</th>
            </tr>
        </thead>

        <tbody>
            {% for _, skater in skaters.iterrows() %}
                <tr>
                    <td class="non_stat_cell">
                        <form target="_blank" action="{{ url_for('skater_details') }}" method="post">
                            <input class="hidden" type="checkbox" id="{{skater['id']}}" name="player_id" value="{{skater['id']}}" checked>
                            <input class="hidden" type="checkbox" id="{{skater['teamid']}}" name="player_team_id" value="{{skater['teamid']}}" checked>
                            <input class="hidden" type="checkbox" name="position" value="s" checked>
                            <input class="form_link" type="submit" value="{{skater['playername']}}">
                            <p class="hidden">{{skater['playername']}}</p>
                        </form>
                    </td>

                    <td class="non_stat_cell">
                        {% if skater['powerPlayTimeOnIcePerGame'] >= 2 %}
                            <span class="pp_font">PP</span>
                        {% endif %}
                    </td>

                    <td class="non_stat_cell">
                        {% if skater['hot'] == 1 %}
                            <img src="{{ url_for('static', filename='img/fire.png') }}" alt="This player is on a hot streak!">
                            <p class="hidden">hot</p>
                        {% endif %}

                        {% if skater['cold'] == 1 %}
                            <img src="{{ url_for('static', filename='img/ice.png') }}" alt="This player is on a cold streak!">
                            <p class="hidden">cold</p>
                        {% endif %}

                        {% if skater['status'] == "I" %}
                            <img src="{{ url_for('static', filename='img/plus.png') }}" alt="This player is potentially injured.">
                            <p class="hidden">injured</p>
                        {% endif %}
                    </td>

                    <td class="non_stat_cell">{{skater['currentteam']}}</td>

                    {% if skater['position'] == "Defenseman" %}
                        <td class="non_stat_cell icon_cell">
                            <p class="hidden">Defense</p>
                            <!-- <img src="{{ url_for('static', filename='img/shield.png') }}"> -->
                            <p>D</p>
                        </td>
                    {% elif skater['position'] == "Right Wing" %}
                    <td class="non_stat_cell icon_cell">
                        <p class="hidden">Right Wing</p>
                        <p>RW</p>
                    </td>
                    {% elif skater['position'] == "Left Wing" %}
                    <td class="non_stat_cell icon_cell">
                        <p class="hidden">Left Wing</p>
                        <p>LW</p>
                    </td>                   
                    {% else %}
                    <td class="non_stat_cell icon_cell">
                        <p class="hidden">Center</p>
                        <p>C</p>
                    </td>
                    {% endif %}
                    <td class="stat_cell">{{skater['goals']}}</td>
                    <td class="stat_cell">{{skater['assists']}}</td>
                    <td class="stat_cell">{{skater['shots']}}</td>
                    <td class="stat_cell">{{skater['blocked']}}</td>
                    <td class="stat_cell">{{skater['points']}}</td>
                    <td class="stat_cell">{{skater['plusminus']}}</td>
                    <td class="stat_cell">{{skater['timeonicepergame']}}</td>
                    <td class="stat_cell">{{skater['FPPG']}}</td>
                </tr>
            {% endfor %}
        </tbody>
    
    </table>

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready( function () {
            $('#skaters').DataTable();
        } );
    </script>
{% endif %}