<div class="teams_container_all">
    
    {% for _, skater in skater.iterrows() %}
    <div class="team_container">
        <section id="player_header">
            <h1>{{skater['playername']}}</h1>
            <h3 class="skater_team_header">{{skater['currentteam']}}</h3>
            <h3 class="skater_team_header">{{skater['position']}}</h3>

            {% if skater['position'] == "Defenseman" %}
                <img class="skater_card_icon"" src="{{ url_for('static', filename='img/white-shield.png') }}">
            {% elif skater['position'] == "Right Wing" %}
                <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-wing-r.png') }}">
            {% elif skater['position'] == "Left Wing" %}
                <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-wing-l.png') }}">                
            {% else %}
                <img class="skater_card_icon" src="{{ url_for('static', filename='img/white-sticks.png') }}">
            {% endif %}
        </section>
        <section id="skater_stats_container_all">
            <section id ="skater_card_stats_container">

                <!-- GPG -->
                {% if skater['GPGDIF'] > 0 %}
                    <section class="skater_card_positive skater_card">
                        <h3>GPG</h3>
                        <p class="player_card_white player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                    </section>
                {% elif skater['GPGDIF'] < 0 %}
                    <section class="skater_card_negative skater_card">
                        <h3>GPG</h3>
                        <p class="player_card_p_negative player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                    </section>
                {% else %}
                    <section class="skater_card_neutral skater_card">
                        <h3 class="h3_neutral">GPG</h3>
                        <p class="player_p">{{skater['GPG']}} <br /> ({{skater['GPGDIF']}})</p>
                    </section>
                {% endif %}

                <!-- APG -->
                {% if skater['APGDIF'] > 0 %}
                    <section class="skater_card_positive skater_card">
                        <h3>APG</h3>
                        <p class="player_card_white player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                    </section> 
                {% elif skater['APGDIF'] < 0 %}
                    <section class="skater_card_negative skater_card">
                        <h3>APG</h3>
                        <p class="player_card_p_negative player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                    </section> 
                {% else %}
                    <section class="skater_card_neutral skater_card">
                        <h3 class="h3_neutral">APG</h3>
                        <p class="player_p">{{skater['APG']}} <br /> ({{skater['APGDIF']}})</p>
                    </section> 
                {% endif %}
                
                <!-- SPG -->
                {% if skater['SPGDIF'] > 0 %}
                    <section class="skater_card_positive skater_card">
                        <h3>SPG</h3>
                        <p class="player_card_white player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                    </section>
                {% elif skater['SPGDIF'] < 0 %}
                    <section class="skater_card_negative skater_card">
                        <h3>SPG</h3>
                        <p class="player_card_p_negative player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                    </section>
                {% else %}
                    <section class="skater_card_neutral skater_card">
                        <h3 class="h3_neutral">SPG</h3>
                        <p class="player_p">{{skater['SPG']}} <br /> ({{skater['SPGDIF']}})</p>
                    </section>
                {% endif %}

                <!-- BPG -->
                {% if skater['BPGDIF'] > 0 %}
                    <section class="skater_card_positive skater_card">
                        <h3>BPG</h3>
                        <p class="player_card_white player_p">{{skater['BPG']}} <br /> ({{skater['BPGDIF']}})</p>
                    </section>
                {% elif skater['BPGDIF'] < 0 %}
                    <section class="skater_card_negative skater_card">
                        <h3>BPG</h3>
                        <p class="player_card_p_negative player_p">{{skater['BPG']}} <br /> ({{skater['BPGDIF']}})</p>
                    </section>
                {% else %}
                    <section class="skater_card_neutral skater_card">
                        <h3 class="h3_neutral">BPG</h3>
                        <p class="player_p">{{skater['BPG']}} <br /> ({{skater['BPGDIF']}})</p>
                    </section>
                {% endif %} 

                <!-- PPG -->
                {% if skater['PPGDIF'] > 0 %}
                    <section class="skater_card_positive skater_card">
                        <h3>PPG</h3>
                        <p class="player_card_white player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                    </section>
                {% elif skater['PPGDIF'] < 0 %}
                    <section class="skater_card_negative skater_card">
                        <h3>PPG</h3>
                        <p class="player_card_p_negative player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                    </section>
                {% else %}
                    <section class="skater_card_neutral skater_card">
                        <h3 class="h3_neutral">PPG</h3>
                        <p class="player_p">{{skater['PPG']}} <br /> ({{skater['PPGDIF']}})</p>
                    </section>
                {% endif %}
            </section>
        </section>
        <table class="team_details_table">
            <tr>
                <td class="team_table_label">Games Played</td><td class="team_table_data">{{skater['games']}}</td>
            </tr>
            <tr>
                <td class="team_table_label">Goals</td><td class="team_table_data">{{skater['goals']}}</td>
            </tr>
            <tr>
                <td class="team_table_label">Assists</td><td class="team_table_data">{{skater['assists']}}</td>
            </tr>
            <tr>
                <td class="team_table_label">Shots</td><td class="team_table_data">{{skater['shots']}}</td>
            </tr>
            <tr>
                <td class="team_table_label">Points</td><td class="team_table_data">{{skater['points']}}</td>
            </tr>
            <tr>
                <td class="team_table_label">Time Per Game</td><td class="team_table_data">{{skater['timeonicepergame']}}</td>
            </tr>

        </table>
    </div>
    {% endfor %}
</div>